In [10]:
#REVERSE A TUPLE

t=tuple(input("Enter The Elements:"))
print("The entered tuple is=",t)
reverse=tuple(reversed(t))
print("The Reversed Tuple is=",reverse)

Enter The Elements:123456
The entered tuple is= ('1', '2', '3', '4', '5', '6')
The Reversed Tuple is= ('6', '5', '4', '3', '2', '1')

In [7]:
#AVERAGE VALUE OF THE NUMBER IN A GIVEN TUPLE

t=tuple(input("Enter numbers seperated by commas :").split(","))
print("tuple=",t)
l=len(t)
c=0
for i in range(l):
    c=int(t[i])+c
    avg=c/l
print("Average value of the numbers in given tuple :",avg)

Enter numbers seperated by commas :1,2,3,4,5,6
tuple= ('1', '2', '3', '4', '5', '6')
Average value of the numbers in given tuple : 3.5

In [15]:
#TO REMOVE AN ITEM FROM A TUPLE

t=tuple(input("Enter numbers seperated by commas :").split(","))
tn=list(t)
print("Entered Tuple is =",t)
d=input("remove:")
for x in t:
    if d in x:
        tn.remove(x)
        result=tuple(tn)
print("The Result is =",result)

Enter numbers seperated by commas :1,2,3,4,5,6
Entered Tuple is = ('1', '2', '3', '4', '5', '6')
remove:5
The Result is = ('1', '2', '3', '4', '6')

In [16]:
#TO GET 3RD ELEMENT AND 3RD ELEMENT FROM LAST OF A TUPLE

t=tuple(input("Enter numbers seperated by commas :").split(","))
print("3rd element",t[2])
print("3rd element from last",t[-3])

Enter numbers seperated by commas :1,2,3,4,5,6,7,8,9
3rd element 3
3rd element from last 7